@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Jua&family=Nanum+Pen+Script&display=swap');

/* font-family: 'Gaegu', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Pen Script', cursive; */

.title {
  font-size: large;
  font-family: 'Gaegu', cursive;
  font-weight: 800;
  font-size: 45px;
  display: flex;
}

.inputCity {
  padding-left: 13px;
  color: #55b4b7;
  font-size: 45px;
}

.cityInfo {
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  flex-basis: 70%;
  margin-left: 20px;
}
