.chart {
  text-align: center;
  height: 450px;
  width: 500px;
}
.weatherChart {
  text-align: center;
  height: 400px;
  width: 500px;
}
.bigmacChart {
  text-align: center;
  height: 250px;
  width: 500px;
}
