@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Jua&family=Nanum+Pen+Script&display=swap');

.chart {
  text-align: center;
  height: 450px;
  width: 500px;
}
.weatherChart {
  text-align: center;
  height: 400px;
  width: 500px;
}
.bigmacChart {
  text-align: center;
  height: 250px;
  width: 500px;
}
