@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Jua&family=Nanum+Pen+Script&display=swap');

.chart {
  text-align: center;
  height: 500px;
  width: 450px;
  border-radius: 50px;
  font-weight: 800;
}

.bigmacChart {
  text-align: center;
  height: 300px;
  width: 500px;
  border-radius: 50px;
  font-weight: 800;
}

.radarChart {
  text-align: center;
  border-radius: 50px;
  font-weight: 800;
}

.chartTitle {
  font-size: larger;
}
