body {
  padding: 0px;
  margin: 0px;
}

.bg {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

video {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav {
  position: absolute;
  margin: 0px auto;
  top: 0%;
}

.TextBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0 auto;
}

.TextContainer {
  align-items: center;
  text-align: center;
  margin-right: 300px;
}

.ButtonContainer {
  text-align: center;
}

.text {
  position: absolute;
}

.button {
  position: absolute;
  margin-top: 50px;
}

/*------------------*/
/* Layout (No Edit) */
/*------------------*/
@media (max-width: 664px) {
  .bg {
    height: auto;
  }
  video {
    height: 400px;
  }
  .text p {
    font-size: 24px;
  }
}
